@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");

.navbar {
  background-color: #364547;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #ffb037;
}
