@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");

/* Navbar */
.navbar,
.project-title {
  background-color: #364547;
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
}
.navbar a,
.project-title {
  color: white;
}
#navbar-top .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}
.navbar a:hover {
  color: #ffb037;
}
/* .project-title:hover {
  color: #ffb037;
} */

/* Hero */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffe268;
}

#hero-section h1 {
  padding-left: 100px;
  font-size: 50px;
  text-align: center;
}
#hero-section p {
  padding-left: 100px;
  font-size: 35px;
  text-align: center;
}

/* Projects */
.projects-section {
  background-image: linear-gradient(
    to right top,
    #2c2529,
    #322a31,
    #362f3a,
    #393543,
    #3a3b4d,
    #373b50,
    #343c52,
    #2f3c55,
    #293652,
    #23304f,
    #1e294c,
    #192348
  );
  text-align: center;
  color: #ffe268;
  padding: 100px 20px;
}
.projects-section-header {
  margin: 0 auto 4rem auto;
  font-size: 50px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
img {
  display: block;
}
.project-title {
  font-size: 20px;
  padding: 20px 20px;
}
.project {
  background-color: #364547;
  text-decoration: none;
}
